@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    background-image: url("./images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 610px;
    height: 600px;
}

section {
    background-image: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
}