body {
    margin: 0;
}

.logo {
    background-image: url('/images/logo.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 2rem;
    padding: 1rem;
    
}

.hero {
    background-image: url('/images/hero-mobile.jpg');
    width: 100%;
    height: 200px;
}

/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }